// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Flag Icons
@import '~flag-icon-css/sass/flag-icon.scss';

// Footer
@import "footer";

