.active a {
  color: orange !important;
  text-decoration: none;
  border-bottom: 2px solid orange;
}

.bg-darkblue {
  background-color: #131a26 !important;
}

.btn-orange {
  color: #fff;
  background-color: #CA6D00;
  border-color: #CA6D00;
}

.OrangeButton a {
  color: white;
}

.OrangeButton a:hover {
  color: white;
  background-color: #a75900;
  border-color: #a75900;
}

.OrangeButton button {
  color: white;
}

.OrangeButton button:hover {
  color: white;
  background-color: #a75900;
  border-color: #a75900;
}

.GreyButton a {
  color: white;
}

.GreyButton a:hover {
  color: white;
  background-color: #545f74;
  border-color: #545f74;
}

.GreyButton button {
  color: white;
}

.GreyButton button:hover {
  color: white;
  background-color: #545f74;
  border-color: #545f74;
}

.Sections li a {
  color: white;
  font-weight: 600;
}

.Sections li a:hover {
  color: #CA6D00 !important;
  text-decoration: none;
  border-bottom: 2px solid #CA6D00;
}

.Authentication .Login a {
  color: white;
  font-weight: 600;
}

.Authentication .Login a:hover {
  color: #CA6D00 !important;
}

.Authentication .Register a {
  color: white;
  font-weight: 600;
}

.Authentication .Register a:hover {
  color: white;
  background-color: #a75900;
  border-color: #a75900;
}

.Authentication .dropdown .dropdown-toggle {
  color: white;
  font-weight: 600;
}

.Authentication .dropdown .dropdown-toggle:hover {
  color: #CA6D00 !important;
}

.Authentication .dropdown .dropdown-item {
  font-weight: 600;
}

.Authentication .dropdown .dropdown-item:hover {
  background-color: #bdbdbd6e;
  font-weight: 600;
}

.Authentication .dropdown .dropdown-item:active {
  color: black;
  font-weight: 600;
}

.Language {
  list-style: none;
}

.Language .dropdown-menu {
  margin-top: 14px;
}

.Language .dropdown-item.active,
.Language .dropdown-item:active {
  color: white;
  text-decoration: none;
  background-color: #ca6d00;
}

.Language .dropdown-toggle:hover {
  color: #a75900 !important;
}

.Language .dropdown-item {
  font-weight: 600;
}

.Language .dropdown-item:hover {
  background-color: #a75900;
  color: white;
  font-weight: 600;
}

.Language .dropdown-item:active {
  color: white;
  font-weight: 600;
}

