.navbar li a {
    color: $white !important;
}

.bg-darkblue {
    background-color: rgb(19, 26, 38, 0.9) !important;
}

.footer-color {
    background-color: #2B2E34 !important;
}

.btn-orange {
    color: #fff;
    background-color: #CA6D00;
    border-color: #CA6D00;
}
