/* ------------ Kontakti ------------ */
.Kontakti {
    padding-top: 50px !important;

    .text-shadow {
        text-shadow: 1px 1px 1px #000000;
    }

    .contacts-info {
        color: white !important;
        cursor: default;
        display: block;
        text-align: center;
    }

    .contacts-info i:nth-child(1) {
        padding-left: 30px;
    }

    .contacts-info a {
        text-decoration: none;
        padding-right: 30px;
    }

    .btn:hover {
        color: white;
        background-color: #a75900;
        border-color: #a75900;
    }

    .form {
        text-align: center;
    }

    .form input[type=text], .form input[type=email] {
        height: 40px;
        border-radius: 4px;
        padding: 12px 20px;
    }

    .form select {
        color: rgba(53, 60, 67, 0.78);
        height: 40px;
        border-radius: 4px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .form textarea {
        height: 200px;
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 4px;
        resize: none;
        outline: 0 none;
    }
}

/* ------------ Google maps ------------ */
.map-responsive {
    border: 3px solid rgb(202, 109, 0);
    border-radius: 25px;
    margin-top: 15px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
