/* ------------ Kontakti ------------ */
.alert {
    margin-top: 85px;
    margin-bottom: 0 !important;
}

.Kontakti .contacts-info {
    color: white !important;
    cursor: default;
    display: block;
    text-align: center;
}
.Kontakti .contacts-info i {
    padding-right: 5px;
}
.Kontakti .contacts-info i:nth-child(1) {
    padding-left: 30px;
}
.Kontakti .contacts-info a {
    text-decoration: none;
    padding-right: 30px;
}
.Kontakti .boxed {
    padding: 3em;
}
.Kontakti h3 {
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 30px;
}
.Kontakti .form {
    font-weight: bold;
}
.Kontakti span {
    margin: 0 5px 0 15px;
}
.Kontakti .form {
    text-align: center;
}
.Kontakti label {
    font-size: 20px;
}
.Kontakti input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}
.Kontakti .btn {
    margin-top: 20px;
}
.Kontakti .form input[type=text], .Kontakti .form input[type=email] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    border-radius: 40px;
    margin: 8px 0 20px;
    outline: 0 none;
}
.Kontakti .form label[for=contact_name], .Kontakti .form label[for=contact_email], .Kontakti .form label[for=contact_message] {
    display: none;
}
.Kontakti .form textarea {
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    resize: none;
    outline: 0 none;
}

/* ------------ Google maps ------------ */
.map-responsive {
    border: 3px solid rgb(202, 109, 0);
    border-radius: 25px;
    margin-top: 15px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
