.EmailForm{
//  container design
    .container {
        width: 400px;
        margin-right: auto;
        margin-left: auto;
        height: 400px;
        background-color: saddlebrown;
    }
//a, input, textarea, button design
    a:hover,
    a:active,
    a:focus,
    input:hover,
    input:active,
    input:focus,
    textarea:focus,
    select:focus,
    button:hover,
    button:active,
    button:focus {
    outline: 0;
    }
    
}