.Faq
{
    a:hover {
        color: white;
        background-color: #a75900;
        border-color: #a75900;
    }

    .collapsible {
        background-color: #cb6b06;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border-width: 0.5px;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .active, .collapsible:hover {
        background-color: #a45b06;
    }

    .content {

        padding: 0 18px;
        height: auto;
        max-height: 0;
        overflow: hidden;
        background-color: #f5f5f6;
        transition: all 0.5s;
        -webkit-transition: all 0.5s ;
        -o-transition: all 0.5s ;
        -moz-transition: all 0.5s ;
    }

    h1{
        color:white;
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
    }

    p{
        padding-top: 15px;
    }
}
