//background
section{
    background-color: #eeeeee;
}


//text
.accordion-item{
    font-size: 24px;
    text-align: left;

}

.answer{
    overflow: hidden;
    font-size: 20px;
    text-align: left;
    max-height: 0px;
}

.accordian-link{
    color: black;
}
.accordian-link:hover{
    color: #FF8A00;
    text-decoration: none;
}

.phrase{
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;

}
//button
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FF8A00;
    border-color: #FF8A00;
    margin-bottom: 15px;
    font-size: 20px;
}
