 .FeaturesPageHeader{
     width: 100%;
     position: relative;
    .titleBox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        background:linear-gradient(145deg, #ca6c00d8 10%, #ca6c00f5 70%);
        color: white;
        text-align: center;
        font-size: 30px;
    }   
}



.AdvancedFeatures{
    .features-wrapper{
        padding: 70px 0;
        background:linear-gradient(145deg, #ca6c00d8 10%, #ca6c00f5 70%);
        width: 100%;
        .feature-box{
            background-color: white;
            width: 100%;
            min-height: 220px;
            padding: 20px 5px 0 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 50px;
            border-radius: 10px;
            .feature-box-holder{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 50px;
                border-radius: 100%;
                // border-top-right-radius: 100%;
                // border-bottom-left-radius: 100%;               
                background-color: white;
                transform: rotate(45deg);
                .feature-box-holder-round{
                    height: 25px;
                    width: 25px;
                    border-radius: 100%;
                    transform: rotate(-45deg);
                    background-color: #CA6D00;
                }
            }

            .feature-icon-box{
                width: 100%;
                height: 50px;
                text-align: center;
                font-size: 50px;
            }
            .feature-label{
                margin-top: 30px;
                display: flex;
                width: 100%;
                height: 30px;
                justify-content: center;
                text-align: center;
                font-size: 18px;
            }
            .feature-decr{
                display: flex;
                width: 80%;
                padding: 5px 0;
                justify-content: center;
                text-align: center;
                font-size: 14px;
                margin: 0 auto;
            }
        }
    } 
}