.homeIntroduce
{
    min-height: 700px;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), URL('/images/homePage/bg/homebgimg.jpg') center (center/cover) fixed;
    text-align: center;
    padding: 215px 0 60px 0;
    color: rgb(230, 230, 230);

    h1
    {
        font-size: 50px;
    }

    .titleDecr
    {
        font-size: 21px;
        color: rgb(190, 190, 190);
    }

    a {
        color: white;
    }

    a:hover {
        color: white;
        background-color: #a75900;
        border-color: #a75900;
    }
}

.features
{
    padding: 50px 0;
    background-color: #DEDEDE;
    text-align: center;

    h2
    {
        text-align: center;
        margin-bottom: 50px;
    }


    .featureBox
    {
        position: relative;
        padding: 20px;
        min-height: 380px;
        background-color: #131A26;
        margin-bottom: 10px;
        border-radius: 20px;

        .featureBox_header{
            display: flex;
            text-align: center;
            align-items: center;
            color: rgb(189, 189, 189);
            justify-content: center;
            min-height: 70px;
            width: 100%;
            font-size: 20px;

            img{
                margin-right: 10px;
                height: 50px;
                width: 50px;
            }

        }

        .featureBox_line{
            margin: 0 auto;
            margin-top: 20px;
            border-radius: 2px;
            background-color: white;
            height: 4px;
            width: 50%;
        }

        .featureBox_decr
        {
            margin-top: 20px;
            width: 100%;
            min-height: 200px;
            font-size: 18px;
            color: rgb(173, 173, 173);
        }

        .featureBox_link
        {
            text-align: center;
            position: relative;
            margin-top: 10px;
            height: 10px;
            width: 100%;


            a{
                color: rgb(197, 197, 197);
            }

        }

    }


}

.advantages{
    background-color: #CA6D00;
    min-height: 340px;
    color: white;
    padding: 50px;

    h2{
        text-align: center;
        margin-bottom: 50px;
    }
}

