.response-time{
    #responseTimeInfoBoxes{
        margin-top: 10px;
    }
    .card-header{
        background-color: white;
        border: none;
        border-top: 2px solid blue;

        .card-title{
            margin: 0;
        }
    }

    .time-btn{
        position: relative;
        height: calc(1.6em + 0.75rem + 2px);
        width: 80px;
        margin: 0;
        background-color: rgba(0, 0, 255, 0.719);
        color: white;
        z-index: 2;
        &:hover{
            background-color: blue;
            color: white;
        }
    }
    
    .time-content{
        position: absolute;
        width: auto;
        height: 0;
        border: none;
        border-radius: 5px;
        background-color: #f1f1f1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: height 1s ease;
        overflow: hidden;
        top: 38px;
        z-index: 8;
    }

    .select-time{
        display: flex;
        width: auto;
        height: 122px;
    }

    .time_picker_box{
        height: 120px;
        padding: 10px;
        .label{
            text-align: center;
        }
    }

    //Costumize time picker

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"]{
        -moz-appearance: textfield;
    }

    .time-picker{
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100px;
        max-width: 200px;
        height: 70px;
        padding: 25px 15px;
        
        background-color: #fbfbfb;
        border-radius: 8px;
        box-shadow: 0px 0px 6px rgba(0,0,0,0.2);

        color: #53565A;
        font-size: 42px;
        font-weight: 700;

        user-select: none;
    }

    .time-picker .hour,
    .time-picker .minute{
        position: relative;
        max-width: 60px;
        text-align: center;
        display: flex;
        justify-content: stretch;
        align-items: stretch;
    }

    .time-picker .hour .hr,
    .time-picker .minute .min{
        background: none;
        font-size: 20px;
        appearance: none;
        border: none;
        outline: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .time-picker .hour .hr-up,
    .time-picker .hour .hr-down,
    .time-picker .minute .min-up,
    .time-picker .minute .min-down{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        width: 20px;
        height: 10px;

        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        cursor: pointer;
    }

    .time-picker .hour .hr-up,
    .time-picker .minute .min-up {
        top: -10px;
        border-bottom: 10px solid #AAA;
    }

    .time-picker .hour .hr-down,
    .time-picker .minute .min-down {
        bottom: -10px;
        border-top: 10px solid #AAA;
    }

    .time-picker .hour .hr-up:hover,
    .time-picker .hour .hr-down:hover,
    .time-picker .minute .min-up:hover,
    .time-picker .minute .min-down:hover{
        border-bottom-color: #53565A;
        border-top-color: #53565A;
    }

    .pagination{
        margin: 0;
        height: 29px;
    }

    .page-link{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; 
        height: 29px;
        width: 29px;
        margin-left: 5px;
        margin-right: 5px;
    }


    .slider {
        -webkit-appearance: none;
        width: 70px;
        height: 3px;
        border-radius: 10px;
        background: linear-gradient(90deg, #17a2b8 0%, rgb(214,214,214) 0%);
        outline: none;
        opacity: 1;
        -webkit-transition: .2s;
        transition: opacity .2s;
        &_apdex{
            -webkit-appearance: none;
            width: 100%;
            height: 5px;
            border-radius: 5px;
            background: #CA6D00;
            outline: none;
            opacity: 1;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }
    }
        
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        border: 2px solid #3f3f3f;
        background-color: white;
        box-shadow: 0 0 1px rgba(0,0,0,0.5);
        cursor: pointer;
        &:hover{
            width: 25px;
            height: 25px;
        }
    }
        
    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #17a2b8;
        cursor: pointer;
    }

    .daterange{
        position: relative;
    }

    .tool{
        position: relative;
    }

    .daterange{
        background-color: white;
        color: black;
        border-color: white;
    }

    .card-header-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-body-default{
        display: none;
        text-align: center;
        background-color: #e9e9e9;
        border: 1px solid #e9e9e9;
    }

    .areaChartSettingsContainer{
        display: none;
        z-index: 4;
        position: absolute;
        width: 200px;
        right: 0;
        top: 100%;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .settings-body{
            width: 100%;
            height: auto;
            padding: 5px;
        }
    }

    .cursor-pointer{
        cursor: pointer;
    }

    .no-copy{
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */     
    }

}
